<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdruidmultsource.mapper.master.SysUserMapper">

    <resultMap type="com.example.springbootdruidmultsource.domain.master.SysUser" id="UserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <select id="selectUserList" parameterType="com.example.springbootdruidmultsource.domain.master.SysUser"
            resultMap="UserResult">
        select * from user
    </select>

    <update id="update" parameterType="com.example.springbootdruidmultsource.domain.master.SysUser">
        UPDATE user set user_name = #{userName} where user_id = #{userId}
    </update>

</mapper>