<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootpagehelper.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        select * from user
    </select>

    <select id="selectUserPage" parameterType="User" resultMap="UserResult">
        select * from user
    </select>

</mapper>